@charset "UTF-8";
.skewbox {
  padding: 15px 30px;
}
.skewbox ::after {
  /* 發光線線 */
  content: "";
  position: absolute;
  background: #f8f9fa;
  display: block;
  width: 20px;
  height: 100%;
  left: -30%;
  top: -5%;
  opacity: 0.7;
  transform: skewX(10deg);
  transition: ease 1s;
}

#navbar {
  font-size: 14px;
  height: 130px;
  margin-left: 0;
  margin-right: 0;
}
#navbar .row {
  width: 100vw;
}
#navbar .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}
#navbar .col {
  align-items: center;
}
#navbar .dropdown-menu {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
@media (min-width: 992px) {
  #navbar {
    top: 30px;
    margin: auto;
  }
  #navbar .row {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #mainMenuBody {
    height: 100%;
  }
}
#mainMenuBody .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: rgb(214, 38, 38);
  transition: ease 0.3s;
}
#mainMenuBody .nav-link {
  height: 100% !important;
}

.nav-link-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.skewbox {
  /* 發光外框 */
}
.skewbox ::before {
  content: "";
  position: absolute;
  transform: skewX(-10deg);
  border: 3px solid #1e2128;
  transition: ease 0.4s;
}

#searchBar {
  background: #212529;
}

.modal-body {
  background: #212529;
}

.bi-twitter:hover {
  fill: rgb(214, 38, 38); /* 你想要的悬停时的颜色 */
}